[androidctl]
sdk_root = /opt/android-sdk
avd_root = /var/lib/androidctl/avd
instance_root = /etc/androidctl/instances
runtime_root = /run/androidctl
log_root = /var/log/androidctl
service_user = androidctl
service_home = /var/lib/androidctl
bind_address = 127.0.0.1
default_profile = pixel_8_pro
default_api = 35
default_image = google_apis
default_ram_mb = 4096
default_cpu_cores = 4
default_disk_size = 16G
default_gpu_mode = software
dri_prime = auto
remote_adb_base_port = 15550
console_base_port = 5554
adb_server_port = 5038
max_running_instances = 2
minimum_free_ram_mb = 4096
boot_timeout = 300
stop_timeout = 60
postboot = true
disable_animations = false
android_cli = /opt/android-cli/bin/android
cmdline_tools_version = 15859902
cmdline_tools_sha256 = 4e4c464f145a7512b57d088ac6c278c03c9eea610886b35a5e0804e74eedf583
